# SSL Certificates
cert.pem
key.pem
*.pem

# Python Cache Files
__pycache__/
*.pyc
*.pyo

# Virtual Environment
venv/

# Configuration Files
.env
sites-enabled/

# IDE Files
.vscode/
.idea/

# Logs
*.log

