# Ignore the virtual environment
/venv/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore local configuration files
sites-enabled/

# Ignore other unnecessary files
*.log
*.swp

#Ignore app.py
*.py
*.txt
app.py
